body{
    background-image: url(pexels-therato-1933239.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.subscription-box {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 600px;
    margin: 40px auto;
  }
  .highlight-text {
    color: #00bfa6;
    font-weight: bold;
  }
  .money-back {
    color: #a0d911;
    font-weight: bold;
  }
  .sign-up-btn {
    background-color: #35b2ec;
    border: none;
    color: #000;
    font-weight: bold;
  }
  .bottom-section {
    background-color: #923af7;
    color: white;
  }
  .bottom-section h5 {
    font-weight: bold;
  }
  .bottom-section ul {
    list-style: none;
    padding-left: 0;
  }
  .sign-up-btn:hover{
    transform: scale(1.1);
    background-color: rgb(80, 245, 130);
  }